/*margen*/
.tituloPrincipal{
  padding-left: 30px;
}
body{
  background: #fffffd;
}
 h1{
  font-family: 'Alata', sans-serif;;
  color: #3c5c8c;
  }

  #banner {
    width: 100%;
    height: 100%;
  }

  .tituloCentralizado{
    text-align: center;
    font-size: 50px;
    color: #3c5c8c;

  }
  .principal {
    text-align: center;
    font-family: 'Alata', sans-serif;
  
    color: #000;
  }

  
  em strong {
    color:#3c5c8c;
  }

 

  .diferenciales{
    font-family: 'Alata', sans-serif;
   
  }
 
  .items {
    font-style: italic;
    
  }

  ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    
  }

  .imagenDiferenciales {
    width: 50%;
  }

